body {
    max-width: 900px;
    margin: 0 auto;
    background-color: #eae6e2;
    color: #444e54;
    padding-top: 50px;
    font-family: "Oxygen Mono", monospace;
}

.nomono {
    font-family: "Segoe UI";
}

main {
    margin-top: 30px;
}

/* Header Styling */
h1 {
    color: #444;
    text-align: center;
}

h2 {
    color: #555;
    text-align: center;
}

p {
    font-size: 15px;
}

/* Styling for Form Elements */
label,
select,
input,
button {
    display: inline;
    width: 20%;
    padding: 10px;
    margin: 5px auto 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
}

select,
button {
    cursor: pointer;
    width: 20%;
}


button {
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#description {
    color: #5B5B5B;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 15px;
}

/* Styling for Chart and Legend */
#regions_div {
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin: 25px auto;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#legend {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    text-align: center;
}

.legend-item {
    display: inline-block;
    margin: 0 5px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Responsiveness */
@media (max-width: 768px) {

    label,
    select {
        width: 90%;
    }

    input {
        display: inline;
        width: auto;
    }

    button {
        width: 100%;
    }

    #regions_div,
    #legend {
        width: 90%;
    }
}

footer {
    position: relative;
    bottom: -100px;
    text-align: center;
}
